.site-header,
.title-area,
.site-header .wrap,
.site-header nav,
.site-header .genesis-nav-menu a,
.site-title,
.site-description {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition:    all 0.3s ease-in-out;
  -ms-transition:     all 0.3s ease-in-out;
  -o-transition:      all 0.3s ease-in-out;
  transition:         all 0.3s ease-in-out;
}
